::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: var(--neutral2);
}

::-webkit-scrollbar-thumb {
	background: var(--neutral5);
}

:root {
	/**** 1 -> 6 = dark -> light colors ****/

	--neutral1: #0f0b05;
	--1rgb: 15, 11, 5;

	--neutral2: #15120b;
	--2rgb: 21, 18, 11;

	--neutral3: #37291b;
	--3rgb: 55, 41, 27;

	--neutral4: #6c533d;
	--4rgb: 108, 83, 61;

	--neutral5: #a89174;
	--5rgb: 168, 145, 116;

	--neutral6: #deceb0;
	--6rgb: 222, 206, 176;

	--teal1: #1c221d;
	--teal2: #37433a;
	--teal3: #788577;
	--teal4: #b3b3a0;

	--Human: #744837;
	--Lycan: #3f485e;
	--Shape: #3f5443;
	--Demon: #735f3b;
	--Angel: #59716e;
	--Witch: #5d373e;
	--Warlock: #574353;
	--Vampire: #592a24;
	--Hybrid: #284863;
	--Fae: #565739;
}

body {
	font-family: "Cormorant Garamond", serif;
	font-size: 12px;
	color: var(--neutral5);
	margin: 0px;
	padding: 0px;
	background-color: var(--neutral1);
}

a {
	color: var(--neutral4);
	text-decoration: none;
	transition: 1s;
}

a:hover {
	text-decoration: none;
	cursor: crosshair;
}

#s-m-t-tooltip {
	z-index: 10;
	margin: 20px 0px 0px 10px;
	padding: 8px;
	background: var(--neutral1);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: "work sans", sans-serif;
	font-size: 9px;
	letter-spacing: 1px;
	color: var(--neutral5);
	box-shadow: rgb(var(--5rgb), 0.4) 5px 5px 0px;
}



/****************************************
 Group-Specific Styling
*****************************************/

:root {
	--Vampire: #592a24;
	--rgbVampire: 89, 42, 36;
	--Shape: #565739;
	--rgbShape: 86, 87, 57;
	--Lycan: #3f485e;
	--rgbLycan: 63, 72, 94;
	--Angel: #59716e;
	--rgbAngel: 89, 113, 110;
	--Demon: #8e7445;
	--rgbDemon: 142, 116, 69;
	--Fae: #3f5443;
	--rgbFae: 63, 84, 67;
	--Human: #744837;
	--rgbHuman: 116, 72, 55;
	--Witch: #5d373e;
	--rgbWitch: 93, 55, 62;
	--Warlock: #574353;
	--rgbWarlock: 87, 67, 83;
	--Hybrid: #284863;
	--rgbHybrid: 40, 72, 99;
}

.mpname-Vampire,
.o-Vampire,
.tborder6,
.shipbox-Vampire {
	background: var(--Vampire);
}
.mpname-Lycan,
.o-Lycan,
.tborder8,
.shipbox-Lycan {
	background: var(--Lycan);
}
.mpname-Hybrid,
.o-Hybrid,
.tborder15,
.shipbox-Hybrid {
	background: var(--Hybrid);
}
.mpname-Witch,
.o-Witch,
.tborder13,
.shipbox-Witch {
	background: var(--Witch);
}
.mpname-Warlock,
.o-Warlock,
.tborder14,
.shipbox-Warlock {
	background: var(--Warlock);
}
.mpname-Demon,
.o-Demon,
.tborder10,
.shipbox-Demon {
	background: var(--Demon);
}
.mpname-Angel,
.o-Angel,
.tborder9,
.shipbox-Angel {
	background: var(--Angel);
}
.mpname-Fae,
.o-Fae,
.tborder11,
.shipbox-Fae {
	background: var(--Fae);
}
.mpname-Shapeshifter,
.o-Shapeshifter,
.tborder7,
.shipbox-Shapeshifter {
	background: var(--Shape);
}
.mpname-Human,
.o-Human,
.tborder12,
.shipbox-Human {
	background: var(--Human);
}
.mpname-Admin,
.o-Admin,
.tborder4,
.shipbox-Admin {
	background: #788184;
}
.mpname-Guests,
.o-Guests,
.mpname-Members,
.o-Members,
.mpname-Banned,
.o-Banned,
.shipbox-Members {
	background: #3b3d3d;
}

.user4 {
	background-color: rgb(120, 129, 132, 0.5);
}
.user2,
.user3,
.user5 {
	background-color: rgb(59, 61, 61, 0.5);
}
.user6 {
	background-color: rgb(var(--rgbVampire), 0.5);
}
.user7 {
	background-color: rgb(var(--rgbShape), 0.5);
}
.user8 {
	background-color: rgb(var(--rgbLycan), 0.5);
}
.user9 {
	background-color: rgb(var(--rgbAngel), 0.5);
}
.user10 {
	background-color: rgb(var(--rgbDemon), 0.5);
}
.user11 {
	background-color: rgb(var(--rgbFae), 0.5);
}
.user12 {
	background-color: rgb(var(--rgbHuman), 0.5);
}
.user13 {
	background-color: rgb(var(--rgbWitch), 0.5);
}
.user14 {
	background-color: rgb(var(--rgbWarlock), 0.5);
}
.user15 {
	background-color: rgb(var(--rgbHybrid), 0.5);
}
